*{
	margin:0px;
	padding:0px;
}
html{
	background:linear-gradient(lightblue,BlanchedAlmond,Chocolate);
}
body{
	background:white;
	width:1000px;
	height:1000px;
	margin:0 auto;
	padding:15px;
	font-family:roboto;
	color:#2d3436;
}
h1{
	text-align:center;
	border-bottom:1px solid gray;
	font-family:Galada;
	padding:20px;
	margin-bottom:25px;
	color:#261985;
}
table{
	width:100%;
	border-collapse:collapse;
	margin-top:10px;
}
tr td,tr th{
	border:1px solid #19856f;
	padding:20px;
}


tr th{
	border:none;
	background:#00b894;
	border:1px solid #00b894;
	color:white;
}

a,input[type=submit]{
	padding:10px;
	color:white;
	background:rgb(224, 37, 30);
	border-radius:5px;
	border:none;
	text-decoration: none;
	padding:5px 30px 5px 30px;
}
input[type=submit]{
	margin-top:15px;
	background:#25d115;
	font-size:15px;
}
input[type=text]{
	border:1px solid grey;
	height:30px;
	width:300px;
	display:block;
	margin-top:15px;
	font-size:15px;
	padding:5px;
}

label{
	display:block;
	margin-top:15px;
	font-size:15px;
	color:blue;
	font-weight:bold;
}
p a{
	background:#19e219;
	text-decoration:none;
}
table td:nth-child(5) a{
	background:#e84393;
}

table td:nth-child(5) a{
	background:#450be4;
	text-decoration:none;
	padding:5px 30px 5px 30px;
}
h4{
	text-align:right;
	color:#040213;
}